body {
  background-color: #222;
  color: #fff;
  font-family: Arial, sans-serif;
}

header {
  background-color: #333;
  padding: 10px;
  text-align: center;
}

.glow {
  animation: glow 2s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #0099ff, 0 0 40px #0099ff, 0 0 50px #0099ff, 0 0 60px #0099ff;
  }
  
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #00ff99, 0 0 40px #00ff99, 0 0 50px #00ff99, 0 0 60px #00ff99;
  }
}

.book {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  transition: transform 0.3s ease-in-out;
  perspective: 1000px;
}

.book:hover {
  transform: scale(1.1) rotateY(10deg);
}

.bookTitle {
  cursor: pointer;
  font-size: 12px;
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.book img {
  max-width: 200px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease-in-out;
}

.book img:hover {
  transform: scale(1.1);
}

.chapters {
  display: none;
  margin-top: 10px;
}

.chapters ul {
  list-style: none;
  padding: 0;
}

.chapters li {
  margin-bottom: 5px;
}

.chapters a {
  color: #0099ff;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.chapters a:hover {
  color: #00ff99;
}
